<nav style="text-align: center; " class="navbar navbar-expand-lg bg-dark ">
    <div style="margin-left: 500px; color: green; font-size: 30px;" class="navbar-brand" href="#">ELECTRICITY CONSUMER BOARD</div>
</nav>
<!-- src/app/patient-search.component.html -->
<tr></tr>
<tr></tr>
<tr></tr>
<div class="container" style="text-align: center;">
  <div class="col-md-6-offset-md-3">
    <hr>
    <hr>
    <hr>
   <h1>Connection Chart</h1>
  </div>
  
<div style="margin: 15px; padding: 0px">
    <div  class="col-md-6-offset-md-3">
      <!-- Adding dropdown for Status column values -->
      <select [(ngModel)]="status" name="status" (change)="changeStatus($event)" class="form-control" placeholder="Select Status value">
        <option value="" disabled selected>Select your status value</option>
        <option [ngValue]="st" *ngFor="let st of statusList">
          {{st}}
        </option>
      </select>
   </div>
   <!-- <input type="text" id="status"  [(ngModel)]="status" />-->
    
    <!-- Search button -->
    <button style="margin:15px" class="btn btn-success" (click)="search()">Search</button>
    <!-- Reset button -->
    <button title="Click on RESET Button to see the chart for all the connections"  class="btn btn-success" (click)="reset()">Reset</button>
</div>
  
<!-- Chart function is called here -->
<div style="width: 900px;height: 900px;">
  <canvas id="myChart"></canvas>
</div>